<h1>Billboards Charts</h1>
<hr />

<%= link_to "Create New Billboard", new_billboard_path %>
<hr />
<% @billboards.each do |billboard| %>
  <%= link_to billboard.chart_name, billboard_path(billboard.id) %>
  <%= link_to 'Edit', edit_billboard_path(billboard.id) %>
  <%= link_to 'Delete', billboard_path(billboard.id), method: :delete %>
  </br>
  <% end %>
